body {
    margin: 60px auto;
    width: 60%;
    min-width: 700px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #002987;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    transform: skewX(-7deg)
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    transform: skewX(-7deg)
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ul {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

li {
    margin: 0 0 10px 0;
}

form {
    font-size: 1.2em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    display: block;
    width: 600px;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

input:focus {
    border: 0.5 px solid #002987;
}

input[type="submit"]:hover {
    cursor: pointer;
}

pre {
    background: #F4F4F4;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    font-family: Courier, 'New Courier', monospace;
    font-size: 95%;
    background-color: #F4F4F4;
    color: #002987;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-right: 0.2em;
    padding-left: 0.2em;
}

.email-subscribe-form label {
    display: block;
}

.email-subscribe-form div {
    display: inline-block;
}

.email-subscribe-form input[type="submit"] {
    display: inline-block;
    background-color: #002987;
    color: #FFFFFF;
}

.email-input {
    width: 300px;
    display: inline-block;
}

.post-date {
    width: 131px;
    display: inline-block;
}