<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/syntax.css">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">

        {{ content }}

        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:reuben.abraham94@gmail.com">email</a></li>
                <li><a href="https://github.com/reubenab">github.com/reubenab</a></li>
                <li><a href="/blog/atom.xml">subscribe</a></li>
            </ul>
            <div class="email-subscribe-form">
                <form method='post' action='https://blogtrottr.com'>
                    <div>
                        Your email: <input type='text' name='btr_email' class="email-input"/>
                        <input type='hidden' name='btr_url' value='https://reubenab.github.io' />
                        <input type='hidden' name='schedule_type' value='0' />
                        <input type='submit' value='Follow this blog via email' />
                    </div>
                </form>
            </div>
        </footer>
    </body>
</html>
